.menuBar{
  // background-color: #e9ecf4;
  border-radius: 8px;

}


.dropdown:hover>.dropdown-menu {
  display: block;
}


.menuButton{
  // border: 1px solid crimson !important;
  width: fit-content;
}