.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  border: 2px solid red;
}
.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  //margin-left: -600px;
  min-height: 100vh;
  background-color: #fafafa;
  // border: 2px solid blue;
  position: relative;
  //overflow-x: hidden;
}

.show {
  display: initial;
}
.hidden {
  display: none;
}
