$iconColor: #7e574e;
$iconColorDark: #222527;
$trashIConColor: #c45c2f;

.trashIcon {
  background-color: $trashIConColor !important;
  float: right;
}

.trashIcon:hover {
  background-color: #f37676 !important;
}

.editIcon,
.publishIcon {
  background: $iconColor !important;
}
.editIcon:hover,
.publishIcon:hover {
  background: #626567 !important;
}
