$iconColor: #7E574E;
$iconColorDark: #222527;
$trashIConColor: #C45C2F;
.trashIcon {
    background-color: $trashIConColor !important;
    float: right;
  }
  
  .trashIcon:hover {
    background-color: #f37676 !important;
  }
  
  .editIcon,
  .publishIcon {
    background: $iconColor !important;
  }
  .editIcon:hover,
  .publishIcon:hover {
    background: #626567 !important;
  }
  